body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(css/swtor_dual_screen_by_krisssssssssss-d4vre3w.jpg) no-repeat;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.side {
    
}*/

.dark{

    background-color:black;
    font-style: italic;
    font-size: 20px;
    color: red;
}

.light {

    background-color:lightblue;
    font-style: italic;
    font-size: 20px;
    color: black;
}

.logoSide {

    width: 80px;
    height: 80px;
    float: left;
    /*background: url(css/lightside.jpg)*/
}

.logoSide.light {

    background: url(css/lightside.jpg);

}

.logoSide.dark {
    
    background: url(css/darkside.jpg);

}
#p {

    display: inline-block;
    margin-left: 30px;
}